
.post {
    margin-top: 5px;
    background-color: #DDDDDD;
}

.post .header {
    background: #EEEEEE;
    display: block;
    margin-bottom: 25px;
}

.post .header .item {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

.post .ids {
    clear :both;
    margin-top: 5px;
    display: block;
    margin-left:auto;
    margin-right: 5px;
    text-align: right;
}