body {
    background-color: #EEEEEE;
}

.post {
    margin-top: 5px;
    background-color: #DDDDDD;
}

.post .vidos {
    
    max-width: 500px;
    max-height: 500px;

    display: block;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 5px;
}

.post .header {
    background: #FFFFFF;
    display: block;
    margin-bottom: 25px;
}

.post .header .item {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

.post .text {
    margin-left: 7px;
    margin-right: 7px;
}

.post .ids {
    clear :both;
    margin-top: 5px;
    display: block;
    margin-left:auto;
    margin-right: 5px;
    text-align: right;
}

.post .image {
    float: left;
    max-width: 250px;
    max-height: 250px;
    padding: 7px;
}

.super_header .item {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}